@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>INVENTARIO TECNOLOGIA <img src= "https://images.ole.com.ar/2021/01/22/LSpcCMae5_1256x620__1.jpg" alt="Alternate Text" /></h1>
    <p class="lead">Distribucion de articulos de tecnologia a nivel nacional.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nuestros servicios</h2>
        <p>
            Somos distribuidores especializados en articulos de tecnologia en partes de computadores de todo tipo,
            desarrollamos soluciones para su empresa, su negocio su casa en infraestructura, soporte tecnico y multiples 
            opciones para las diversos retos tecnologicos del dia a dia. 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    
</div>